<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/celeste-explosion-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{5,5}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,0},{5,5}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{35,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{7,0},{35,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-11.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-1}</string>
			<key>spriteSize</key>
			<string>{35,34}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{44,0},{35,34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{37,36}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{81,0},{37,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-13.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,38}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{120,0},{38,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-14.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,40}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{160,0},{40,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{42,42}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{202,0},{42,42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-16.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{246,0},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-17.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{45,45}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{292,0},{45,45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,48}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,36},{48,48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-19.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{49,49}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{50,38},{49,49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{11,11}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{101,38},{11,11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{51,51}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{114,42},{51,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-21.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,52}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{167,44},{52,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-22.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{221,45},{53,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{277,47},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-24.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,89},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{56,89},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-26.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{112,98},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-27.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{168,100},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-28.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{224,103},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-29.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{280,103},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{16,16}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,145},{16,16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-30.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{18,145},{53,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-31.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,53}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{74,154},{53,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-32.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,53}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{129,156},{53,53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{184,159},{53,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-34.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{240,159},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-35.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,200},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-36.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{56,209},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-37.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{112,211},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-38.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{168,214},{53,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-39.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,53}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{224,215},{52,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{21,21}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{296,159},{21,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-40.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{52,52}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{279,215},{52,52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-41.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,1}</string>
			<key>spriteSize</key>
			<string>{51,51}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,256},{51,51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-42.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{50,50}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{53,265},{50,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{25,26}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{105,267},{25,26}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{30,30}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{133,267},{30,30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{33,33}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{165,269},{33,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{200,269},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-explosion-9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,36}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{238,269},{36,36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/celeste-explosion.png</string>
		<key>size</key>
		<string>{337,315}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/celeste-explosion.png</string>
	</dict>
</dict>
</plist>