<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/celeste-revive-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{54,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,-1}</string>
			<key>spriteSize</key>
			<string>{43,44}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{56,0},{43,44}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-11.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-6,-1}</string>
			<key>spriteSize</key>
			<string>{42,41}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{102,0},{42,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-12.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{39,39}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{146,0},{39,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-13.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-7,-1}</string>
			<key>spriteSize</key>
			<string>{36,37}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{187,0},{36,37}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-14.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,-1}</string>
			<key>spriteSize</key>
			<string>{34,33}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{187,38},{34,33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-9,-1}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{146,41},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-16.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-9,-1}</string>
			<key>spriteSize</key>
			<string>{30,29}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{102,43},{30,29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-17.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-10,-1}</string>
			<key>spriteSize</key>
			<string>{27,27}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{223,38},{27,27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-10,-2}</string>
			<key>spriteSize</key>
			<string>{24,24}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{56,45},{24,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-19.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-11,-2}</string>
			<key>spriteSize</key>
			<string>{21,21}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,56},{21,21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{53,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{23,71},{53,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-11,-2}</string>
			<key>spriteSize</key>
			<string>{18,18}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{82,45},{18,18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-21.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-12,-2}</string>
			<key>spriteSize</key>
			<string>{14,14}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{82,65},{14,14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-22.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-12,-2}</string>
			<key>spriteSize</key>
			<string>{10,10}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{134,43},{10,10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/celeste-revive-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{52,54}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{179,73},{52,54}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-1,0}</string>
			<key>spriteSize</key>
			<string>{52,53}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{98,74},{52,53}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-2,0}</string>
			<key>spriteSize</key>
			<string>{50,52}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{0,126},{50,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{49,51}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{153,127},{49,51}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-3,0}</string>
			<key>spriteSize</key>
			<string>{48,49}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{79,128},{48,49}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-4,-1}</string>
			<key>spriteSize</key>
			<string>{46,48}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{130,178},{46,48}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/celeste-revive-9.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-5,-1}</string>
			<key>spriteSize</key>
			<string>{45,46}</string>
			<key>spriteSourceSize</key>
			<string>{54,54}</string>
			<key>textureRect</key>
			<string>{{206,127},{45,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/celeste-revive.png</string>
		<key>size</key>
		<string>{251,224}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/celeste-revive.png</string>
	</dict>
</dict>
</plist>