<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/blood-drop-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{35,24}</string>
			<key>spriteSourceSize</key>
			<string>{36,25}</string>
			<key>textureRect</key>
			<string>{{0,0},{35,24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/blood-drop-2.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{24,17}</string>
			<key>spriteSourceSize</key>
			<string>{24,17}</string>
			<key>textureRect</key>
			<string>{{37,0},{24,17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/blood-drop-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{14,15}</string>
			<key>spriteSourceSize</key>
			<string>{16,16}</string>
			<key>textureRect</key>
			<string>{{63,0},{14,15}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/blood-drop-4.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{17,25}</string>
			<key>spriteSourceSize</key>
			<string>{20,26}</string>
			<key>textureRect</key>
			<string>{{37,19},{17,25}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/blood-drop-5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-0.5,-1}</string>
			<key>spriteSize</key>
			<string>{41,38}</string>
			<key>spriteSourceSize</key>
			<string>{42,40}</string>
			<key>textureRect</key>
			<string>{{37,38},{41,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/blood-drop-6.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.5,0.5}</string>
			<key>spriteSize</key>
			<string>{7,4}</string>
			<key>spriteSourceSize</key>
			<string>{10,9}</string>
			<key>textureRect</key>
			<string>{{0,26},{7,4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/blood-drop-7.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0.5}</string>
			<key>spriteSize</key>
			<string>{55,33}</string>
			<key>spriteSourceSize</key>
			<string>{57,34}</string>
			<key>textureRect</key>
			<string>{{0,32},{55,33}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/blood-drop-8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0,-0}</string>
			<key>spriteSize</key>
			<string>{44,46}</string>
			<key>spriteSourceSize</key>
			<string>{46,46}</string>
			<key>textureRect</key>
			<string>{{35,78},{44,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/blood-drops.png</string>
		<key>size</key>
		<string>{79,124}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/blood-drops.png</string>
	</dict>
</dict>
</plist>