<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/among-us-death-4-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-122,-45}</string>
			<key>spriteSize</key>
			<string>{371,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,0},{371,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-150,-45}</string>
			<key>spriteSize</key>
			<string>{428,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{373,0},{428,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-141,-45}</string>
			<key>spriteSize</key>
			<string>{410,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{803,0},{410,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-139,-44}</string>
			<key>spriteSize</key>
			<string>{406,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1215,0},{406,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-58,-30}</string>
			<key>spriteSize</key>
			<string>{569,268}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1623,0},{569,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-28.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-69,-32}</string>
			<key>spriteSize</key>
			<string>{546,263}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2194,0},{546,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-90,-33}</string>
			<key>spriteSize</key>
			<string>{504,262}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2742,0},{504,262}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-38.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-90,-34}</string>
			<key>spriteSize</key>
			<string>{504,260}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,243},{504,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-48.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-98,-34}</string>
			<key>spriteSize</key>
			<string>{488,260}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{506,243},{488,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-99,-41}</string>
			<key>spriteSize</key>
			<string>{487,246}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{996,243},{487,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-53.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-99,-41}</string>
			<key>spriteSize</key>
			<string>{487,246}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2194,265},{487,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-55.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-117,-44}</string>
			<key>spriteSize</key>
			<string>{451,240}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1485,270},{451,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-58.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-117,-44}</string>
			<key>spriteSize</key>
			<string>{451,240}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1938,270},{451,240}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-60.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-126,-54}</string>
			<key>spriteSize</key>
			<string>{432,261}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{996,491},{432,261}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-63.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-124,-53}</string>
			<key>spriteSize</key>
			<string>{427,264}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,505},{427,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-65.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-120,-53}</string>
			<key>spriteSize</key>
			<string>{410,249}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{429,505},{410,249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-122,-69}</string>
			<key>spriteSize</key>
			<string>{402,232}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1430,512},{402,232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-75.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-117,-62}</string>
			<key>spriteSize</key>
			<string>{392,245}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2180,513},{392,245}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-4-78.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-115,-55}</string>
			<key>spriteSize</key>
			<string>{387,260}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2574,513},{387,260}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/among-us-death-4-uhd.png</string>
		<key>size</key>
		<string>{3004,773}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/among-us-death-4-uhd.png</string>
	</dict>
</dict>
</plist>