<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/among-us-death-1-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-297,-85}</string>
			<key>spriteSize</key>
			<string>{376,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,0},{376,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-321,-81}</string>
			<key>spriteSize</key>
			<string>{424,250}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{378,0},{424,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-105.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-53}</string>
			<key>spriteSize</key>
			<string>{864,321}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{804,0},{864,321}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-108.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-80}</string>
			<key>spriteSize</key>
			<string>{864,268}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1670,0},{864,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-110.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-88}</string>
			<key>spriteSize</key>
			<string>{864,251}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2536,0},{864,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-113.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-88}</string>
			<key>spriteSize</key>
			<string>{864,251}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2536,253},{864,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-115.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-88}</string>
			<key>spriteSize</key>
			<string>{864,251}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1670,270},{864,251}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-276,-72}</string>
			<key>spriteSize</key>
			<string>{439,266}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3402,0},{439,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-227,-49}</string>
			<key>spriteSize</key>
			<string>{537,311}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3843,0},{537,311}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-199,-56}</string>
			<key>spriteSize</key>
			<string>{593,298}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,252},{593,298}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-83,-62}</string>
			<key>spriteSize</key>
			<string>{824,311}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{595,323},{824,311}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-28.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-83,-90}</string>
			<key>spriteSize</key>
			<string>{824,236}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2536,506},{824,236}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-3.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-297,-85}</string>
			<key>spriteSize</key>
			<string>{376,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3402,268},{376,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-30.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-101,-83}</string>
			<key>spriteSize</key>
			<string>{860,240}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1421,523},{860,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-84}</string>
			<key>spriteSize</key>
			<string>{864,259}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,636},{864,259}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-35.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-36}</string>
			<key>spriteSize</key>
			<string>{864,376}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2283,744},{864,376}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-43.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-41}</string>
			<key>spriteSize</key>
			<string>{864,365}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3149,744},{864,365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-48.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-35}</string>
			<key>spriteSize</key>
			<string>{864,378}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{866,765},{864,378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-34}</string>
			<key>spriteSize</key>
			<string>{864,380}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,897},{864,380}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-53.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-33}</string>
			<key>spriteSize</key>
			<string>{864,378}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3149,1111},{864,378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-55.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-33}</string>
			<key>spriteSize</key>
			<string>{864,378}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1732,1122},{864,378}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-58.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-75,-28}</string>
			<key>spriteSize</key>
			<string>{921,369}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,1279},{921,369}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-60.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-69,-29}</string>
			<key>spriteSize</key>
			<string>{932,367}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2598,1491},{932,367}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-63.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-68,-87}</string>
			<key>spriteSize</key>
			<string>{934,249}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{923,1502},{934,249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-65.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-72,-87}</string>
			<key>spriteSize</key>
			<string>{926,248}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,1753},{926,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-68.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-68,-87}</string>
			<key>spriteSize</key>
			<string>{934,248}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{928,1753},{934,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-73,-87}</string>
			<key>spriteSize</key>
			<string>{925,248}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1864,1860},{925,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-73.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-68,-87}</string>
			<key>spriteSize</key>
			<string>{934,248}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2791,1860},{934,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-75.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-73,-87}</string>
			<key>spriteSize</key>
			<string>{925,248}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,2003},{925,248}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-78.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-60,-58}</string>
			<key>spriteSize</key>
			<string>{951,306}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{927,2110},{951,306}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-315,-83}</string>
			<key>spriteSize</key>
			<string>{412,246}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3727,1491},{412,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-80.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-60,-58}</string>
			<key>spriteSize</key>
			<string>{951,307}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1880,2110},{951,307}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-83.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-33,-33}</string>
			<key>spriteSize</key>
			<string>{1004,362}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2833,2110},{1004,362}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-88.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-19,-33}</string>
			<key>spriteSize</key>
			<string>{1033,362}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,2418},{1033,362}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-90.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-8,-41}</string>
			<key>spriteSize</key>
			<string>{1055,345}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1035,2419},{1055,345}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-1-93.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-103,-45}</string>
			<key>spriteSize</key>
			<string>{864,338}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2092,2474},{864,338}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/among-us-death-1-uhd.png</string>
		<key>size</key>
		<string>{4154,2812}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/among-us-death-1-uhd.png</string>
	</dict>
</dict>
</plist>