<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/among-us-death-3-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-137,-34}</string>
			<key>spriteSize</key>
			<string>{370,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,0},{370,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-10.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-134,18}</string>
			<key>spriteSize</key>
			<string>{364,345}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{372,0},{364,345}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-132,31}</string>
			<key>spriteSize</key>
			<string>{360,372}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{738,0},{360,372}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-132,34}</string>
			<key>spriteSize</key>
			<string>{360,377}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1112,0},{360,377}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-137,-27}</string>
			<key>spriteSize</key>
			<string>{379,257}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1491,0},{379,257}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-28.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-130,-28}</string>
			<key>spriteSize</key>
			<string>{384,253}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1872,0},{384,253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-35.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-127,-23}</string>
			<key>spriteSize</key>
			<string>{391,263}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2258,0},{391,263}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-40.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-130,-28}</string>
			<key>spriteSize</key>
			<string>{384,253}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2651,0},{384,253}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-43.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-74,-9}</string>
			<key>spriteSize</key>
			<string>{496,290}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1491,259},{496,290}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-48.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-100,-11}</string>
			<key>spriteSize</key>
			<string>{444,283}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2651,255},{444,283}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-5.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-140,-34}</string>
			<key>spriteSize</key>
			<string>{375,241}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1989,265},{375,241}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-100,-11}</string>
			<key>spriteSize</key>
			<string>{444,283}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,347},{444,283}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-53.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-113,-12}</string>
			<key>spriteSize</key>
			<string>{419,284}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{446,362},{419,284}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-60.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-126,-25}</string>
			<key>spriteSize</key>
			<string>{393,255}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{867,362},{393,255}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-65.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-124,-31}</string>
			<key>spriteSize</key>
			<string>{397,244}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2366,265},{397,244}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-118,-31}</string>
			<key>spriteSize</key>
			<string>{409,244}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2612,540},{409,244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-75.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-87,-33}</string>
			<key>spriteSize</key>
			<string>{470,239}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1262,551},{470,239}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-78.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{7,-38}</string>
			<key>spriteSize</key>
			<string>{658,249}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{446,648},{658,249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-83.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-46,-38}</string>
			<key>spriteSize</key>
			<string>{552,249}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1734,551},{552,249}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-3-85.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-52,-39}</string>
			<key>spriteSize</key>
			<string>{541,250}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2288,786},{541,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/among-us-death-3.png</string>
		<key>size</key>
		<string>{3095,1036}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/among-us-death-3.png</string>
	</dict>
</dict>
</plist>