<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zilko.death_animations/among-us-death-2-1.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,-42}</string>
			<key>spriteSize</key>
			<string>{375,240}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,0},{375,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-100.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{148,1}</string>
			<key>spriteSize</key>
			<string>{750,369}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{377,0},{750,369}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-103.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{145,-14}</string>
			<key>spriteSize</key>
			<string>{744,336}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1129,0},{744,336}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-105.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{145,-39}</string>
			<key>spriteSize</key>
			<string>{744,285}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1875,0},{744,285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-108.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{145,-39}</string>
			<key>spriteSize</key>
			<string>{744,285}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2621,0},{744,285}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-13.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,18}</string>
			<key>spriteSize</key>
			<string>{375,360}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3367,0},{375,360}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-15.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,16}</string>
			<key>spriteSize</key>
			<string>{375,355}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,242},{375,355}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-18.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,31}</string>
			<key>spriteSize</key>
			<string>{375,386}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1875,287},{375,386}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-20.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,31}</string>
			<key>spriteSize</key>
			<string>{375,387}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2263,287},{375,387}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-23.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,17}</string>
			<key>spriteSize</key>
			<string>{375,358}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2652,287},{375,358}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-25.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-20,-11}</string>
			<key>spriteSize</key>
			<string>{414,302}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1129,338},{414,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-30.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-29,14}</string>
			<key>spriteSize</key>
			<string>{397,352}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3029,362},{397,352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-33.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-29,24}</string>
			<key>spriteSize</key>
			<string>{397,371}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3428,362},{397,371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-38.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-9,-11}</string>
			<key>spriteSize</key>
			<string>{436,302}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{377,371},{436,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-43.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,14}</string>
			<key>spriteSize</key>
			<string>{429,352}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{815,642},{429,352}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-45.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,24}</string>
			<key>spriteSize</key>
			<string>{429,371}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1246,642},{429,371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-50.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-20,-11}</string>
			<key>spriteSize</key>
			<string>{414,302}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1677,664},{414,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-55.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-29,14}</string>
			<key>spriteSize</key>
			<string>{397,351}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,599},{397,351}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-58.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-29,24}</string>
			<key>spriteSize</key>
			<string>{397,371}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2093,664},{397,371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-63.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-9,-11}</string>
			<key>spriteSize</key>
			<string>{436,302}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2492,664},{436,302}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-68.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,14}</string>
			<key>spriteSize</key>
			<string>{429,351}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{353,675},{429,351}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-70.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-13,24}</string>
			<key>spriteSize</key>
			<string>{429,371}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2930,716},{429,371}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-75.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{31,-28}</string>
			<key>spriteSize</key>
			<string>{516,268}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3361,735},{516,268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-78.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{50,-22}</string>
			<key>spriteSize</key>
			<string>{554,279}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3361,1005},{554,279}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-8.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{-40,16}</string>
			<key>spriteSize</key>
			<string>{375,356}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1677,968},{375,356}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-80.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{61,1}</string>
			<key>spriteSize</key>
			<string>{576,326}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{784,1015},{576,326}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-83.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{56,3}</string>
			<key>spriteSize</key>
			<string>{569,332}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{0,1028},{569,332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-85.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{61,1}</string>
			<key>spriteSize</key>
			<string>{576,327}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2054,1037},{576,327}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-88.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{57,3}</string>
			<key>spriteSize</key>
			<string>{568,332}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{2632,1089},{568,332}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-90.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{61,1}</string>
			<key>spriteSize</key>
			<string>{576,326}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{3202,1286},{576,326}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-93.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{69,8}</string>
			<key>spriteSize</key>
			<string>{593,340}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1362,1326},{593,340}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-95.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{154,-4}</string>
			<key>spriteSize</key>
			<string>{763,365}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{571,1343},{763,365}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zilko.death_animations/among-us-death-2-98.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{154,-1}</string>
			<key>spriteSize</key>
			<string>{763,372}</string>
			<key>spriteSourceSize</key>
			<string>{1071,448}</string>
			<key>textureRect</key>
			<string>{{1957,1423},{763,372}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>zilko.death_animations/among-us-death-2.png</string>
		<key>size</key>
		<string>{3915,1795}</string>
		<key>textureFileName</key>
		<string>zilko.death_animations/among-us-death-2.png</string>
	</dict>
</dict>
</plist>